.img {
    width: 80%;
    height: 80%;
}

.jumbotron {
    margin: 20px;
    padding: 20px;
}

hr {
    border: 0;
    clear:both;
    display:block;
    width: 96%;
    background-color: #222222;
    height: 1px !important;
}